name: Delete merged branch

on:
  pull_request:
    types:
      - closed

jobs:
  delete_branch:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Delete branch
        run: |
          git push origin --delete ${{ github.head_ref }}
